@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    background: #333;
    color: #fff
}